<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{77,1},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{26,1},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{51,1},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>front.png</string>
            <key>size</key>
            <string>{101,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10e13b6344e2458ec2a8018250a0640b:80b529425d873655c9c8750e9ac8e6e3:c5a773155492b1fdf1e959c6644d7665$</string>
            <key>textureFileName</key>
            <string>front.png</string>
        </dict>
    </dict>
</plist>
