<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,43}</string>
                <key>spriteSourceSize</key>
                <string>{19,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,43}</string>
                <key>spriteSourceSize</key>
                <string>{22,43}</string>
                <key>textureRect</key>
                <string>{{1,67},{22,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{1,22},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,43}</string>
                <key>spriteSourceSize</key>
                <string>{21,43}</string>
                <key>textureRect</key>
                <string>{{1,44},{21,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{46,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e311e8e498c34b7b70b165fa36a4c28d:0c6182309731b0d714aa330edf37dabe:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
